<!DOCTYPE html>
<html>
<head>
  <title>創作作品共有サイト</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>創作作品共有サイト</h1>
    <p>高校の友達との創作をまとめるプラットフォーム</p>
    <div class="buttons">
      <a href="/login" class="button">ログイン</a>
      <a href="/register" class="button">新規登録</a>
    </div>
  </div>
</body>
</html>
